<h2> <%= @project.title %></h2>

<% if @volunteers %>
<h3> Our volunteers:</h3>
<h4> Click on a volunteer to see their details: <h4>
  <ul>
  <% @volunteers.each do |volunteer| %>
    <li><a href="/volunteers/<%= volunteer.id %>"> <%= volunteer.name %></a></li>
  <% end %>
  </ul>
<% end %>  


<a href="/projects/<%= @project.id %>/edit">Edit Project</a>
<br>
<br>
<p> Add a volunteer to this project! </p>
<form action="/projects/<%= @project.id %>/add_volunteer" method="post">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" class="form-control">
  </div>
  <button class="btn-success">Update Volunteer</button>
</form>